system {
    host-name vSRX-2;
    root-authentication {
        encrypted-password "$1$rUleI7B.$lzOAmvzh2qAcDdLXri2Cb/"; ## SECRET-DATA
        ssh-dsa "ssh-dss AAAAB3NzaC1kc3MAAACBAMQrfP2bZyBXJ6PC7XXZ+MzErI8Jl6jah5L4/O8BsfP2hC7EvRfNoX7MqbrtCX/9gUH9gChVuBCB+ERULMdgRvM5uGhC/gs4UX+4dBbfBgKYYwgmisM8EoT25m7qI8ybpl2YZvHNznvO8h7kr4kpYuQEpKvgsTdH/Jle4Uqnjv7DAAAAFQDZaqA6QAgbW3O/zveaLCIDj6p0dwAAAIB1iL+krWrXiD8NPpY+w4dWXEqaV3bnobzPC4eyxQKBUCOr80Q5YBlWXVBHx9elwBWZwj0SF4hLKHznExnLerVsMuTMA846RbQmSz62vM6kGM13HFonWeQvWia0TDr78+rOEgWF2KHBSIxL51lmIDW8Gql9hJfD/Dr/NKP97w3L0wAAAIEAr3FkWU8XbYytQYEKxsIN9P1UQ1ERXB3G40YwqFO484SlyKyYCfaz+yNsaAJu2C8UebDIR3GieyNcOAKf3inCG8jQwjLvZskuZwrvlsz/xtcxSoAh9axJcdUfSJYMW/g+mD26JK1Cliw5rwp2nH9kUrJxeI7IReDp4egNkM4i15o= configurator@server1.he"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$84J5Maes$cni5Hrazbd/IEHr/50oY30"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
        web-management {
            http {
                interface fxp0.0;
            }
            https {
                system-generated-certificate;
                interface all;
            }
        }
    }
    syslog {
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        boot-server 172.25.11.254;
        server 172.25.11.254;
    }
}
interfaces {
    fxp0 {
        description "MGMT Interface - DO NOT DELETE";
        unit 0 {
            family inet {
                address 172.25.11.2/24;
            }
        }
    }
    lt-0/0/0 {
        per-unit-scheduler;
        unit 10 {
            encapsulation frame-relay;
            dlci 100;
            peer-unit 20;
            family inet {
                address 172.31.15.2/30;
            }
        }
        unit 20 {
            encapsulation frame-relay;
            dlci 100;
            peer-unit 10;
            family inet {
                address 172.31.15.1/30;
            }
        }
        unit 30 {
            encapsulation frame-relay;
            dlci 200;
            peer-unit 40;
            family inet {
                address 172.18.2.1/30;
            }
        }
        unit 40 {
            encapsulation frame-relay;
            dlci 200;
            peer-unit 30;
            family inet {
                address 172.18.2.2/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.20.77.2/30;
            }
            family inet6 {
                address fdaa:dead:beef:1::0/127;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 172.20.66.2/30;
            }
            family inet6 {
                address fdaa:dead:beef:2::0/127;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 172.18.1.1/30;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 172.20.101.10/24;
            }
        }
    }
    ge-0/0/5 {
        vlan-tagging;
        unit 1 {
            vlan-id 1;
            family inet {
                address 172.21.0.1/24;
            }
        }
        unit 2 {
            vlan-id 2;
            family inet {
                address 172.21.1.1/24;
            }
        }
        unit 3 {
            vlan-id 3;
            family inet {
                address 172.21.2.1/24;
            }
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet {
                address 172.20.201.10/24;
            }
        }
    }
    ge-0/0/7 {
        unit 0 {
            family inet {
                address 172.20.102.1/24;
            }
        }
    }
    ge-0/0/8 {
        unit 0 {
            family inet {
                address 172.20.102.10/24;
            }
        }
    }
    lo0 {
        unit 0 {
            description "loopback for main routing instance of vSRX-2";
            family inet {
                address 192.168.2.1/32;
            }
            family inet6 {
                address fdaa:dead:beef:9::2/128;
            }
        }
        unit 1 {
            description "vr101 loopback";
            family inet {
                address 192.168.1.2/32;
            }
        }
        unit 2 {
            description "vr102 loopback";
            family inet {
                address 192.168.2.2/32;
            }
        }
        unit 3 {
            description "VR_Internet Loopback";
            family inet {
                address 192.168.3.1/32;
            }
        }
        unit 4 {
            description "VR_Host Loopback";
            family inet {
                address 192.168.4.1/32;
            }
        }
        unit 5 {
            description "vr201 loopback";
            family inet {
                address 192.168.1.3/32;
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 172.18.2.1;
        route 192.168.1.2/32 {
            next-hop 172.20.66.1;
            qualified-next-hop 172.20.77.1 {
                preference 6;
            }
        }
        route 192.168.1.1/32 {
            next-hop 172.20.66.1;
            qualified-next-hop 172.20.77.1 {
                preference 6;
            }
        }
        route 172.20.101.0/24 {
            next-hop 172.20.66.1;
            qualified-next-hop 172.20.77.1 {
                preference 6;
            }
        }
        route 192.168.2.2/32 next-hop 172.20.102.10;
        route 192.168.1.3/32 {
            next-hop 172.20.66.1;
            qualified-next-hop 172.20.77.1 {
                preference 6;
            }
        }
        route 172.20.201.0/24 {
            next-hop 172.20.66.1;
            qualified-next-hop 172.20.77.1 {
                preference 6;
            }
        }
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface lo0.0;
            interface ge-0/0/7.0;
        }
    }
    ospf3 {
        area 0.0.0.0 {
            interface lo0.0;
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
        }
    }
}
class-of-service {
    forwarding-classes {
        queue 1 admin;
        queue 2 voip;
    }
    interfaces {
        ge-0/0/* {
            scheduler-map my-sched-map;
        }
        ge-0/0/2 {
            scheduler-map my-sched-map;
            unit 0 {
                classifiers {
                    inet-precedence default;
                }
            }
        }
    }
    scheduler-maps {
        my-sched-map {
            forwarding-class best-effort scheduler best-effort-sched;
            forwarding-class admin scheduler admin-sched;
            forwarding-class voip scheduler voip-sched;
            forwarding-class network-control scheduler network-control-sched;
        }
    }
    schedulers {
        class-of-service;
        best-effort-sched {
            transmit-rate percent 40;
            buffer-size percent 40;
            priority low;
        }
        admin-sched {
            transmit-rate percent 45;
            buffer-size percent 45;
            priority medium-low;
        }
        voip-sched {
            transmit-rate percent 10;
            buffer-size percent 10;
            priority high;
        }
        network-control-sched {
            transmit-rate percent 5;
            buffer-size percent 5;
            priority medium-high;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    VR_Host {
        instance-type virtual-router;
        interface lt-0/0/0.20;
        interface lo0.4;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.31.15.2;
            }
        }
    }
    VR_Internet {
        instance-type virtual-router;
        interface lt-0/0/0.10;
        interface lt-0/0/0.30;
        interface ge-0/0/3.0;
        interface lo0.3;
        routing-options {
            static {
                route 192.168.1.1/32 next-hop 172.18.1.2;
                route 192.168.1.2/32 next-hop 172.18.1.2;
                route 192.168.2.1/32 next-hop 172.18.2.2;
                route 192.168.2.2/32 next-hop 172.18.2.2;
                route 172.20.101.0/24 next-hop 172.18.1.2;
                route 172.20.102.0/24 next-hop 172.18.2.2;
            }
        }
    }
    vr101 {
        instance-type virtual-router;
        interface ge-0/0/4.0;
        interface ge-0/0/5.1;
        interface ge-0/0/5.2;
        interface ge-0/0/5.3;
        interface lo0.1;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.20.101.1;
            }
        }
        protocols {
            ospf {
                area 0.0.0.0 {
                    interface lo0.1;
                    interface ge-0/0/4.0;
                }
            }
        }
    }
    vr102 {
        instance-type virtual-router;
        interface ge-0/0/8.0;
        interface lo0.2;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.20.102.1;
            }
        }
        protocols {
            ospf {
                area 0.0.0.0 {
                    interface lo0.2;
                    interface ge-0/0/8.0;
                }
            }
        }
    }
    vr201 {
        instance-type virtual-router;
        interface ge-0/0/6.0;
        interface lo0.5;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.20.201.1;
            }
        }
    }
}
