system {
    host-name vSRX-1;
    root-authentication {
        encrypted-password "$1$3wX27FEA$8/YMqSk092wAbqkexszJ71"; ## SECRET-DATA
        ssh-dsa "ssh-dss AAAAB3NzaC1kc3MAAACBAMQrfP2bZyBXJ6PC7XXZ+MzErI8Jl6jah5L4/O8BsfP2hC7EvRfNoX7MqbrtCX/9gUH9gChVuBCB+ERULMdgRvM5uGhC/gs4UX+4dBbfBgKYYwgmisM8EoT25m7qI8ybpl2YZvHNznvO8h7kr4kpYuQEpKvgsTdH/Jle4Uqnjv7DAAAAFQDZaqA6QAgbW3O/zveaLCIDj6p0dwAAAIB1iL+krWrXiD8NPpY+w4dWXEqaV3bnobzPC4eyxQKBUCOr80Q5YBlWXVBHx9elwBWZwj0SF4hLKHznExnLerVsMuTMA846RbQmSz62vM6kGM13HFonWeQvWia0TDr78+rOEgWF2KHBSIxL51lmIDW8Gql9hJfD/Dr/NKP97w3L0wAAAIEAr3FkWU8XbYytQYEKxsIN9P1UQ1ERXB3G40YwqFO484SlyKyYCfaz+yNsaAJu2C8UebDIR3GieyNcOAKf3inCG8jQwjLvZskuZwrvlsz/xtcxSoAh9axJcdUfSJYMW/g+mD26JK1Cliw5rwp2nH9kUrJxeI7IReDp4egNkM4i15o= configurator@server1.he"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$84J5Maes$cni5Hrazbd/IEHr/50oY30"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        telnet;
        web-management {
            http {
                interface fxp0.0;
            }
            https {
                system-generated-certificate;
                interface all;
            }
        }
    }
    syslog {
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        boot-server 172.25.11.254;
        server 172.25.11.254;
    }
}
interfaces {
    fxp0 {
        description "MGMT Interface - DO NOT DELETE";
        unit 0 {
            family inet {
                address 172.25.11.1/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.20.77.1/30;
            }
            family inet6 {
                address fdaa:dead:beef:1::1/127;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 172.20.66.1/30;
            }
            family inet6 {
                address fdaa:dead:beef:2::1/127;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 172.18.1.2/30;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 172.20.101.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.1/32;
            }
            family inet6 {
                address fdaa:dead:beef:9::1/128;
            }
        }
    }
}
routing-options {
    rib inet6.0 {
        static {
            route fdaa:dead:beef:9::2/128 next-hop fdaa:dead:beef:1::0;
        }
    }
    static {
        route 0.0.0.0/0 next-hop 172.18.1.1;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface ge-0/0/4.0;
            interface lo0.0;
        }
    }
    ospf3 {
        area 0.0.0.0 {
            interface lo0.0;
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
        }
    }
}
